/* Скидання силів */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Утиліти */
.link {
  text-decoration: none;
}

.address-contacts {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*  - - - - - - - - ПРО НАС */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.about-item.text {
  width: 500px;
}

.about-item:nth-child(3) {
  margin-right: 30px;
}

.about-item:nth-child(2) {
  margin-right: 64px;
}
