:root {
  main-text-color: #555555;
  second-text-color: #303030;
  third-text-color: #9da4bd;
  white-text-color: #ffffff;
  accent-color: #ff6c00;
}

/* Шрифты 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;

  letter-spacing: 0.02em;
}

/* - - - - - - - - - - - - - - - - Скидання силів */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* - - - - - - - - - - - - - - - -  Утиліти */
.link {
  text-decoration: none;
}

.address-contacts {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*  - - - - - - - - - - - - - - - - HEADER */

/*  - - - - - - - - - - - - - - - - ГЕРОЙ */

/*  - - - - - - - - - - - - - - - - ПРО НАС */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.about-item.text {
  width: 500px;
}

.about-item:nth-child(3) {
  margin-right: 30px;
}

.about-item:nth-child(2) {
  margin-right: 64px;
}

/*  - - - - - - - - - - - - - - - - ЦЕНЫ */

/*  - - - - - - - - - - - - - - - - НАШИ ПРЕИМУЩЕСТВА */

/*  - - - - - - - - - - - - - - - - НАШИ МАСТЕРА */

/*  - - - - - - - - - - - - - - - - ГАЛЕРЕЯ */

/*  - - - - - - - - - - - - - - - - ЗАПИСЬ И КОНТАКТЫ */

/*  - - - - - - - - - - - - - - - - FOOTER */
