@import './utils/vars';
@import './base/common';
@import './base/reset';

@import './components/container';
@import './components/title';
@import './components/pretitle';

// Header
@import './layout/header';
// About us
@import './layout/about';
// Prices
@import './layout/prices';
// Benefits
@import './layout/benefits';
// Masters
@import './layout/masters';
// Gallery list
@import './layout/gallery-list';
// Online
@import './layout/online';
