/*  - - - - - - - - - - - - - - - - НАШИ ПРЕИМУЩЕСТВА */
.benefits {
  padding-top: 130px;
  padding-bottom: 130px;
}

.benefits__container {
  display: flex;
  justify-content: space-around;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
}

.benefits__item {
  width: 170px;
  min-height: 133px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: $bcgColorGrey;
  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.benefits__info {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: $mainTitleColor;
}

.benefits__meta {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: $mainTitleColor;
}

.benefits__wrapper {
  max-width: 500px;
}

.benefits__text {
  font-size: 18px;
  line-height: 1.67;
  color: $mainTextColor;
}
