.pretitle {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }
}

.pretitle--color-grey {
  color: rgba(157, 164, 189, 0.6);
  &::before {
    // content: '';
    // width: 60px;
    // height: 1px;
    // margin-right: 20px;
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.pretitle--color-dark {
  color: $mainTitleColor;
  &::before {
    // content: '';
    // width: 60px;
    // height: 1px;
    // margin-right: 20px;
    background-color: $mainTitleColor;
  }
}
