body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
}

/* Шрифты 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
